#!/usr/bin/env ruby

compile '/**/index.html' do
  filter :erb
  layout '/home.*'
  
  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

# compile '/**/*.html' do
#   filter :erb
#   layout '/default.*'

#   if item.identifier =~ '**/index.*'
#     write item.identifier.to_s
#   else
#     write item.identifier.without_ext + '/index.html'
#   end
# end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#

# takes care of the list page(s)

compile '/**/list.md' do
  filter :kramdown
  layout '/list-layout.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end


#takes care of all markdown pages

# compile '/articles/**/**.md' do
#   filter :kramdown
#   layout '/article.*'
#   # write "/" + 
#   #   item[:section].downcase.gsub(/\s+/, "-") +
#   #   "/" +
#     item.identifier.without_ext.to_s + "/index.html"
# end


compile '/**/*.md' do
  filter :kramdown
  layout '/article.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
