<head>
  <title> <%= @title || @item[:title] %></title>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="stylesheet" href="/mac-history/tailwind.css">
  
  <!-- font imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Zilla+Slab:ital,wght@0,500;0,600;1,500;1,600&display=swap" rel="stylesheet">
</head>
