<!DOCTYPE HTML>
<html lang="en">
  <%= render '/_head.*' %>
  <body>
    <%= render '/header.*' %>
    <div>
        <h2 class = "text-2xl font-medium max-w-xl text-left mx-auto text-old-main">About this project</h1>
            <p class = "max-w-xl text-base text-left sm:mx-auto m-4"> This website is a digital exhibit on the history of Macalester College's campus created by me (Andie Walker) for my senior honors project.</p>
    </div>
    <br>
    <div>
        <h2 class = "text-2xl font-medium max-w-xl text-left mx-auto">Bibliography</h1>
        <div class = "max-w-xl text-base text-left sm:mx-auto m-4">
            <%= yield %>
        </div>
    </div>
    <%= render '/_footer.*' %>
  </body>
</html>