<!DOCTYPE HTML>
<html lang="en">
  <%= render '/_head.*' %>
  <body>
    <%= render '/header.*' %>
    <div>
        <h2 class="text-4xl font-bold max-w-xl text-left sm:mx-auto ml-6">About this project</h1>

          <p class="max-w-xl text-lg text-left sm:mx-auto m-4"> This website is a digital exhibit on the history of Macalester College’s campus, researched and developed by me (Andie Walker) for my honors project, the culmination of my individually designed major in Digital History Communication. </p>

          <p class="max-w-xl text-lg text-left sm:mx-auto m-4">For my major, I have focused on using computer science and digital tools to research and communicate history scholarship, which is why this exhibit takes the form of a website. I believe that using digital tools gives us the chance to write more accessible, engaging histories that encourage people to think critically about the past. </p>
            
          <p class="max-w-xl text-lg text-left sm:mx-auto m-4">I began to research the college’s history as a junior attending Macalester because I was curious about where I lived: the Veggie Co-op, a specialty housing option for students located under the bleachers of Macalester’s stadium. That research resulted in a timeline tracing the history of Macalester’s student housing, which uncovered many interesting stories I didn’t expect to find when researching dorms. For my honors project, I decided to expand my scope and look at the campus as a whole. The final product is this exhibit. </p>
              
          <p class="max-w-xl text-lg text-left sm:mx-auto m-4">For my research, I relied heavily on the Macalester College Archives, which include digitized student publications and college catalogs as well as physical papers, photographs, maps, and other objects. In particular, the Mac Weekly, Macalester’s student newspaper since 1914 was incredibly helpful in piecing together the past. </p>
              
          <p class="max-w-xl text-lg text-left sm:mx-auto m-4">I also consulted other research into Macalester and the history of college campuses. Notably, Jeanne Halgren Kilde’s book Nature and Revelation: A History of Macalester College gave me a great overview of the college’s history, while Carla Yanni’s Living on Campus: An Architectural History of the American Dormitory was instrumental in giving me an understanding of the history of collegiate architecture.</p>
    </div>
    <br>
    <div>
        <h2 class="text-2xl font-medium max-w-xl text-left sm:mx-auto ml-6">Bibliography</h1>
        <div class="bibliography max-w-xl text-base text-left sm:mx-auto m-4">
            <%= yield %>
        </div>
    </div>
    <%= render '/_footer.*' %>
  </body>
</html>