<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <%= @item[:title] %></title>
    
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <div id="main">
        <h5> <%= link_to @item[:section], get_section_list(@item[:section]).first%></h5>
        <h3> <%= @item[:year]%> </h3>
        <h2> <%= @item[:title]%> </h2>
        <img src = "/images/<%= @item[:image_path] %>">
        <%= yield %>
        <p> <- Previous in section           Next in section -> </p>
    </div>
  </body>
</html>

