<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <%= @item[:title] %></title>
    
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <!-- Below: lists timeline of years for each article with a year (test)-->
    <!-- <ul>
      <% timeline.each do |timeline_item| %> 
        <li><%= timeline_item[:year] %></li>
      <% end %>
    </ul> -->
    <div id="main">
        <p>This article is in the <%= @item[:section] %> section.</p>
        <p> Date: <%= @item[:year]%> </p>
        <%= yield %>
        <p>Tags: <%= tags_for(@item) %></p>
    </div>
  </body>
</html>

