<div class = "flex mb-10">
    <div class = "p-8 ">
        <a href = "/mac-history/index.html">
            <h1 class = "text-2xl font-bold">Not So Set In Stone:</h1>
            <h2 class = "text-xl">A History of the Macalester College Campus</h2>
        </a>
    </div>
    <div class = "flex space-x-6 justify-end">
        <!-- links to section list pages -->
        <% section_names.each do |section_name| %>
          <div class = "p-3 text-lg">
            <%= link_to section_name, get_section_list(section_name).first.path %>
          </div>
        <% end %>
    </div>
</div>
