<!DOCTYPE HTML>
<html lang="en">
  <%= render '/_head.*' %>
  <body>
    <%= render '/header.*' %>
    <div class = "timeline">
      <% timeline.each do |timeline_article| %>
        <% if timeline_article[:section] %>
          <div class = "timeline-item milestone">
            <div class = "year">
              <%= timeline_article[:year] %>
            </div>
            <div class = "title">
              <%= link_to timeline_article[:title], timeline_article.path%>
            </div>
          </div>
        <% else %>
          <div class = "timeline-item article">
            <div class = "year">
              <%= timeline_article[:year] %>
            </div>
            <div class = "title">
              <%= link_to timeline_article[:title], timeline_article.path%>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <%= render '/_footer.*' %>
  </body>
</html>