<!DOCTYPE HTML>
<html lang="en">
  <%= render '/_head.*' %>
  <body>
    <%= render '/header.*' %>
    <div>
      <div class="mt-4 mr-4 ml-4 sm:mx-auto sm:max-w-2xl rounded-xl shadow-lg border-bright-blue border-2 p-4 bg-blue-50">
        <div class="font-serif text-2xl inline-block">
          College communities
        </div>
        <div class="max-2-xl sm:mx-auto text-lg inline">
          are constantly in flux, as students typically remain in school for only four years. However, parts of the physical environment of a college campus might last for centuries.
          <br>
          <br>
          <div class="font-serif text-2xl inline">
            Not So Set in Stone
          </div>
           looks at the evolution of Macalester College’s campus in order to uncover the design decisions that have led to new buildings, the ways people have interacted with, manipulated, and subverted spaces and places on campus, and how settler colonialism is physically embodied at Macalester. 
        </div>
      </p>
    </div>
    <div class="timeline">
      <% timeline_scale = 0.4  # em per year %>
      <% min_timeline_spacing = 0  # em (-1.5 = items at same time overlap completely) %>
      <% prev_year = nil %>
      <% timeline.each do |timeline_article| %>
        <% timeline_spacing = [((timeline_article[:timeline_year] || timeline_article[:year]) - prev_year) * timeline_scale - 1.5, min_timeline_spacing].max if prev_year %>
        <% if timeline_article[:section] %>
          <div class="timeline-item article">
            <div class="rounded-xl shadow-lg border-bright-blue border-2 mt-2 mb-2 items-center" style="margin-top: <%= timeline_spacing %>em">
              <div class="year text-xl">
                <%= timeline_article[:year] %>
              </div>
              <div class="title">
                <% display_title = (timeline_article[:timeline_title] || timeline_article[:title])%>
                <%= link_to display_title, timeline_article.path %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="timeline-item milestone">
            <div class="rounded-xl shadow-lg border-neutral-500 border-2 mt-2 mb-2 items-center" style="margin-top: <%= timeline_spacing %>em">
              <div class="year text-xl">
                <%= timeline_article[:year] %>
              </div>
              <div class="title">
                <%= timeline_article[:title]%>
              </div>
            </div>
          </div>
        <% end %>
        <% prev_year = (timeline_article[:timeline_year] || timeline_article[:year]) %>
      <% end %>
    </div>
    <%= render '/_footer.*' %>
  </body>
</html>